*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --card-background: ;
}

body {
    height: 100vh;
    display: grid;
    grid-template:
        "a b" min-content
        "a c" 1fr
        / max-content 1fr;
}






/* ---------- NAVIGATION ---------- */

nav {
    background-color: #1992d4;
    grid-area: a;
    padding: 10px 30px;
}

nav>ul {
    display: grid;
    grid-auto-rows: min-content;
    list-style: none;
    gap: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    justify-content: center;
}

nav li:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav li:not(.page-title) {
    transition: scale 0.5s;
    transform-origin: 0;
}

nav li:hover:not(.page-title) {
    scale: 1.1;
}

nav li:active:not(.page-title) {
    color: #f0b429;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mdi {
    font-size: 25px;
}

h1 {
    font-weight: 600;
    font-size: 1.6rem;
}

#open-menu {
    font-size: 60px;
    transition: scale 0.5s, translate 1s;
    transform-origin: center;
}

#open-menu:hover {
    scale: 0.75;
    translate: -20px
}

#open-menu:active {
    color: #f0b429;
}

.row-gap {
    padding-block: 5px;
    cursor: initial;
}






/* ---------- HEADER ---------- */

header {
    background-color: white;
    padding-inline: 40px 60px;
    padding-block: 10px;
    grid-area: b;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px 40px;
}


/* ----- First row ----- */

header .mdi {
    height: min-content;
    width: min-content;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: flex-start;
    gap: 15px;
    grid-column: 1 / -2;
    width: 80%;
}

#search-icon {
    font-size: 25px;
}

#search-icon:hover,
#notif-icon:hover {
    cursor: pointer;
    color: #636363;
}

#search-icon:active,
#notif-icon:active {
    color: #e04f5f;
}

.search-bar {
    background-color: #e2e8f0;
    height: 30px;
    border-radius: 15px;
    min-width: 100px;
    flex: 1;
    cursor: text;
}

.notifs {
    display: flex;
    gap: 55px;
    align-items: center;
    justify-self: flex-end;
    grid-column: span 1 / -1;
}

#notif-icon {
    cursor: pointer;
}

.profile-pic {
    height: 40px;
    cursor: pointer;
}

.notifs>p {
    font-size: 1.1rem;
    text-align: center;
    white-space: pre;
    font-weight: 600;
}

.notifs>p:hover {
    cursor: pointer;
    color: #636363;
}

.notifs>p:active {
    color: #e04f5f;
}


/* ----- Second row ----- */

.intro {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: flex-start;
    gap: 15px;
    padding-inline-end: 20px;
    margin-block-end: 5px;
    grid-column: 1 / -2;
    background-color: #e2e8f0;
    border-radius: 30px;
    box-shadow: 0 4px 6px 0px rgb(197, 191, 191), 0 2px 4px -1px rgb(191, 191, 191);
}

.intro>p {
    white-space: pre-line;
    font-size: 0.8rem;
    font-weight: 700;
}

.intro span {
    font-size: 1.3rem;
}

.large-pic {
    height: 60px;
    transition: transform 1s ease-in-out 10ms;
}

.large-pic:hover {
    transform: rotate(360deg);
}

.inputs {
    display: flex;
    gap: 25px;
    justify-self: flex-end;
    grid-column: span 1 / -1;
}

input {
    background-color: #1992d4;
    color: white;
    border: none;
    border-radius: 25px;
    height: 35px;
    width: 95px;
    font-weight: 700;
    font-size: 0.9rem;
}

input:hover {
    cursor: pointer;
    background-color: #f0b429;
}

input:active {
    cursor: pointer;
    background-color: #000000;
}










/* ---------- MAIN ---------- */

main {
    overflow-y: auto;
    background-color: #e2e8f0;
    grid-area: c;
    padding: 60px 30px 60px 20px;
    display: grid;
    gap: 65px 25px;
    grid-template-columns: 2.8fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
}

/* main>p {
    text-align: justify;
} */

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-block-end: 35px;
}

#projects {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
    gap: 30px 25px;
    grid-area: projects;
}

#projects p {
    color: #636363;
}

#projects::before {
    content: "Your Projects";
    position: absolute;
    top: -35px;
    font-size: 1.2rem;
    font-weight: 600;
}

#projects>div:nth-child(3) {
    grid-row: span 2;
}

#projects>div:nth-child(5) {
    grid-row: span 2;
}

.project {
    background: linear-gradient(90deg, #f0b429 0%, #f0b429 2.5%, white 2.5%, white 100%);
    border-radius: 9px;
    padding: 30px;
    display: flex;
    flex-flow: column wrap;
    min-height: 250px;
    height: min-content;
    row-gap: 10px;
    box-shadow: 0 4px 6px 0px rgb(197, 191, 191), 0 2px 4px -1px rgb(191, 191, 191);
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
    width: max-content;
}

.project h3:hover {
    cursor: pointer;
    text-decoration: #f0b429 underline 3px;
}

.project>article {
    display: flex;
    flex-flow: column;
}

article>figure {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3px;
}

figcaption {
    align-self: flex-start;
    padding-inline-start: 20px;
    font-size: 0.7rem;
}

figcaption>a {
    text-decoration: none;
    color: #636363;
}

/* CHANGE IMGs TO GIFs & ADD ?HOVER? PLAYBACK */

.project img {
    width: 90%;
    height: auto;
    margin-block-start: 20px;
    border: 5px solid #f0b429;
    border-radius: 9px;
}

.project-icons {
    display: flex;
    align-self: flex-end;
    margin-block-start: auto;
    gap: 15px;
    align-items: center;
}

.project-icons>.mdi:hover {
    cursor: pointer;
    color: #636363;
}

.project-icons a {
    display: flex;
}

svg {
    stroke: black;
    stroke-width: 2px;
    fill: white;
    width: auto;
    height: 21px;
}

.project-icons a:link svg {
    stroke: black;
    fill: white;
}

.project-icons a:hover svg {
    stroke: #f0b429;
    fill: white;
}

.project-icons a:active svg {
    stroke: #f0b429;
    fill: #f0b429;
}

.project-icons a:visited svg {
    stroke: #f0b429;
    fill: #f0b429;
}







#announcements {
    position: relative;
    grid-area: announcements;
    display: grid;
    grid-template-rows: min-content;
}

#announcements::before {
    content: "Announcements";
    position: absolute;
    top: -35px;
    font-size: 1.2rem;
    font-weight: 600;
}

h4 {
    font-size: 0.9rem;
    font-weight: 700;
    width: max-content;
}

h4:hover {
    cursor: pointer;
    text-decoration: #1992d4 underline wavy 1px;
}

#announcement p {
    color: #636363;
    font-size: 0.8rem;
}

#announcement ul,
#trendings ul {
    list-style: none;
}

#announcement {
    background-color: white;
    border-radius: 9px;
    padding: 30px;
    box-shadow: 0 4px 6px 0px rgb(197, 191, 191), 0 2px 4px -1px rgb(191, 191, 191);
}

#announcement ul {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

#announcement p {
    padding-block-end: 20px;
    border-block-end: 1px #bdb8b8 solid;
    /* animation - #f0b429 dot that zips across length of border (ease-in slow then goes fast then ease-out */
}

#last p {
    padding-block-end: 0px;
    border-block-end: none;
}








#trendings {
    position: relative;
    grid-area: trending;
    display: grid;
    grid-template-rows: min-content;
}

#trendings::before {
    content: "Trending";
    position: absolute;
    top: -35px;
    font-size: 1.2rem;
    font-weight: 600;
}

#trending {
    background-color: white;
    border-radius: 9px;
    padding: 30px;
    box-shadow: 0 4px 6px 0px rgb(197, 191, 191), 0 2px 4px -1px rgb(191, 191, 191);
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: min-content 1fr min-content;
    gap: 30px 15px;
    align-items: center;
}

#trending img {
    width: 45px;
}

#trending p {
    color: #000000;
    font-size: 0.9rem;
    font-weight: 600;
    white-space: pre-line;
}

#trending>p>span {
    color: #636363;
    font-weight: initial;
}

#trending span {
    color: #f0b429;
}







/* ---------- @ RULES ---------- */

@media (max-width: 1000px) {
    nav {
        display: none;
    }

    body {
        grid-template:
            "b" min-content
            "c" 1fr
            / 100vw;
    }
}

@media (max-width: 750px) {
    nav {
        display: none;
    }

    header {
        grid-template-columns: 1fr min-content;
        padding: 20px 30px;
        gap: 10px;
    }

    .search {
        justify-self: flex-start;
    }

    #notif-icon,
    .notifs>p,
    .intro,
    .inputs {
        display: none;
    }

    main {
        grid-template-columns: 90%;
        grid-auto-rows: min-content;
        grid-template-areas:
            "projects"
            "announcements"
            "trending";
        justify-content: center;
    }
}